<?xml version="1.0"?>
<Events>
  <SupportURL></SupportURL>
    <Event id="motion">
        <Name>Motion Detected</Name>
        <ConfigUI>
            <Field id="deviceID" type="menu">
                <Label>Select Device:</Label>
                <List class="indigo.devices" filter="self"/>
            </Field>
        </ConfigUI>
    </Event>

  
</Events>

